<div class="details">
    <div class="image">
      <h1 class="producttitle">{{productdetails.name}}</h1>
      <img class="img" src="http://localhost/{{productdetails.image}}" />
    </div>
  
    <div class="productdescription">
      <table>
        <thead>
          <tr>
            <th>Nutritional Value</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Calories</td>
            <td>{{productdetails.Calories}}</td>
          </tr>
          <tr>
            <td>Carbohydrates</td>
            <td>{{productdetails.Carbohydrates}}</td>
          </tr>
          <tr>
            <td>Fiber</td>
            <td>{{productdetails.Fiber}}</td>
          </tr>
          <tr>
            <td>Protein</td>
            <td>{{productdetails.Protein}}</td>
          </tr>
          <tr>
            <td>Fat</td>
            <td>{{productdetails.Fat}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  